<head>
  <title>Battleships Register</title>
</head>

<div>

  <form action="/register" method="post">
    What's your name?
    <input type="text" name="name">
    <a href="/game">
    <input type="submit" value="Submit">
    </a>
  </form>

</div>